header ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
header li {
  list-style-type: none;
}
header .anchor {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
a.active {
  background-color: black;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}
